.product {
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid $border-color-light;

  &__text {
    font-weight: 300;
    font-size: 14px;
    color: grey;
    width: 150px;
  }

  &__text:nth-of-type(2) {
    font-weight: 500;
    width: 110px;
  }

  .imgContainer {
    max-width: 200px;
    max-height: 200px;
    margin: 0 100px 0 50px;
  }

  .iconContainer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      border-radius: 3px;
      box-shadow: 1px 1px 5px 2px $border-color-light;
    }
  }

  .qtyWrapper {
    width: 197px;
    display: flex;
    justify-content: flex-start;
  }

  .input {
    height: 30px;
    width: 30px;
    font-size: 14px;
    padding: 0 5px;
    border-radius: 0;
    border: 2px solid $border-color-dark;
    color: darkgray;
    border-right-width: 1px;
    //turn off default spinner buttons for more visibility - ONLY CHROME WORKS- so I set input to type text
    &,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  &__error {
    font-size: 12px;
    color: $color-error;
  }
}
