//font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$font-base: 'Roboto', sans-serif;

//colors
$color-light: lightgrey;
$color-grey: grey;
$color-dark: darkgrey;
$color-black: black;
$color-error: red;

$bg-color-light: lightgrey;
$bg-color-secondary: #f4f6f8;
$bg-color-dark: black;

$border-color-light: lightgrey;
$border-color-dark: black